body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*temno-zelenii: #004442*/
/*svetlo-zelenii: #66887f*/
/*temno-serii: #231f20*/
/*svetlo-serii: #7f7f7f*/
/*svetlo-serii footer: #808285*/
/*serii-background: #fafafa*/